body {
	background-color: #6998CE;
    margin-bottom: 10px;
}


/* 	===============================================================
	.....................Welcome view
	=============================================================== */
.wel-body{
    margin-top: 80px;
}
.wel-img {
    padding: 20px 0px 20px 0px;
}
.form-row {
    margin-bottom: 5px
}
.form-row-lg{
    margin-bottom: 10px;
}
/* 	===============================================================
	.....................Profile view
	=============================================================== */
/* 	===============================================================
	.....................Account
	=============================================================== */


/* 	===============================================================
	.....................Home
	=============================================================== */


/* 	===============================================================
	.....................Browse
	=============================================================== */



/* 	===============================================================
	.....................Err block
	=============================================================== */

.errblock {
	position: fixed;
	height: 18px;
	width: 598px;
	left: 50%;
	margin-top: 410px;
	margin-left: -300px;
	padding: 3px 0px 3px 0px;
	background-color:white;
	text-align:center;
	color:red;
	font-size:14px;
	border: 1px solid #14141f;
	border-radius: 0px;
}

.errblock_account {
	position: fixed;
	height: 18px;
	width: 598px;
	left: 50%;
	margin-top: 220px;
	margin-left: -300px;
	padding: 3px 0px 3px 0px;
	background-color:white;
	text-align:center;
	color:red;
	font-size:14px;
	border: 1px solid #14141f;
	border-radius: 0px;
}

.errblock_home {
	position: fixed;
	height: 18px;
	width: 598px;
	left: 50%;
	margin-top: 25px;
	margin-left: -300px;
	padding: 3px 0px 3px 0px;
	background-color:white;
	text-align:center;
	color:red;
	font-size:14px;
	border: 1px solid #14141f;
	border-radius: 0px;
}

.errblock_browse {
	position: fixed;
	height: 18px;
	width: 598px;
	left: 50%;
	margin-top: 25px;
	margin-left: -300px;
	padding: 3px 0px 3px 0px;
	background-color:white;
	text-align:center;
	color:red;
	font-size:14px;
	border: 1px solid #14141f;
	border-radius: 0px;
	
}


